<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск информации по аудитории</title>
    <link rel="stylesheet" th:href="@{/css/styles3.css}">
</head>
<body>
    <header>
        <p class="displayed"><img th:src="@{/img/logo.svg}" alt="University Logo" class="logo"></p>
    </header>

    <main>

        <h2>Поиск информации по аудитории</h2>

        <form th:action="@{/api/search}" th:method="get">
            <section class="search-section">
                <!--<label for="roomNumber">Номер аудитории:</label>-->
                <input style="width: 10px" class="search-box" placeholder="Введите номер аудитории" type="text" name="roomNumber" id="roomNumber" required>

                <div class="room-list">
                    <!--<label for="buildingId">Корпус:</label>-->
                    <select class="room-button" name="buildingId" id="buildingId">
                        <option value="1" id="1">Мех</option>
                        <option value="2" id="2">Гидро</option>
                        <option value="3" id="3">Главный</option>
                        <option value="4" id="4">Зоо</option>
                        <option value="5" id="5">Электро</option>
                        <option value="6" id="6">ЗР</option>
                        <option value="7" id="7">Эконом</option>
                        <option value="8" id="8">ВМ</option>
                    </select>
                </div>

                <button id="search-button" type="submit">🔍</button>

            </section>
        </form>

        <form th:action="@{/api/create}" th:method="get">
            <div th:if="${error}">
                <p th:text="${error}" style="color: red;"></p>
                <button id="search-button" th:if="${error == 'Нет данных об аудитории. Добавить?'}" type="submit">Добавить аудиторию</button>
            </div>
        </form>

        <h3 style="margin: 20px 0 10px 0">Добавление устройства</h3>

        <form th:action="@{/api/createdevice}" th:method="get">
            <button id="search-button">Добавить устройство</button>
        </form>
    </main>
</body>
</html>
